# Django Settings
SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=194.226.125.152,localhost,127.0.0.1

# Database Settings
NAME=
USER=
PASSWORD=
HOST=
PORT=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0